.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  margin-top: 80px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #621b00;
  color: #fffded;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.nav {
  margin: 0 1rem 0 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a > .carticon {
  color: white;
  size: 10px;
}

.nav a {
  margin: 0 2rem 0 2rem;
  display: flex;
  align-items: center;
}
.nav a:first-child {
  align-self: center;
  font-size: 2rem;
  margin-left: 0.5rem;
  margin-right: auto;
}
.nav a .logo {
  border-radius: 50%;
  height: 60px;
  margin-right: auto;
  padding-right: 1rem;
}

.nav a:hover {
  text-decoration: underline;
}
/* landing page */

.landing {
  text-align: center;
}

.landing h1 {
  text-align: left;
  font-size: 52px;
  margin: 2em 0 0.5em 0;
  padding-left: 10%;
}

.landing .section1 {
  text-align: left;
  padding: 50px 10% 80px 10%;
  line-height: 1.5;
  font-size: 20px;
}
.landing h2 {
  margin-bottom: 5%;
}

.peek {
  height: 200px;
  position: absolute;
  right: 0;
  top: 350px;
}

.landing .section2 {
  color: white;
  text-align: left;
  padding-top: 50px;
  padding-left: 10%;
  height: 400px;
  background-image: url('/MosEisley.png');
}

.landing .section3 {
  padding: 50px 10% 80px 10%;
  background-color: ;
  height: ;
}

.planetcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.planet {
  margin: 7px;
}

.landing .aboutus {
}

.landing .faq {
}

/* Shop page */
.shop {
}
.shop img {
  height: 200px;
}
.shop img:hover {
  cursor: pointer;
}

.shop .flexcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
  /* background-color: lightblue; */
}
.shop .productcard {
  width: 300px;
  /* background-color: yellow; */
  min-height: 400px;
  padding: 2rem;
  margin: 1rem;
  -webkit-box-shadow: 10px 10px 20px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 20px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 20px -1px rgba(0, 0, 0, 0.75);
}

.shop .name {
  font-size: 24px;
}
.shop .name:hover {
  cursor: pointer;
}

.shop .description {
  font-style: italic;
}
.shop input {
  width: 80px;
  margin-right: 5px;
  align-self: center;
  font-weight: normal;
}
.shop .price {
  margin: -10px -10px -10px 0px;
  text-align: left;
}

/* single product page */
.pageleft {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50vh;
  left: 20px;
  border-radius: 5px;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;

  border-right: 30px solid #621b00;
}
.pageright {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50vh;
  right: 20px;
  border-radius: 5px;
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;

  border-left: 30px solid #621b00;
}

.pageright:hover,
.pageleft:hover {
  cursor: pointer;
}

.imagecontainer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  height: 200px;
  width: 200px;
}
.imagecontainer img {
  height: 100%;
  object-fit: cover;
}

.singleproductcontainer {
  margin-left: 110px;
  margin-right: 110px;
  max-width: 80% vh;
}

.producttitle {
  font-size: 40px;
  font-weight: bold;
  border-bottom: 2px solid #621b00;
  padding: 10px 0;
}

.productdescription {
  font-size: 20px;
  font-style: italic;
  color: #363534;
  text-align: left;
}

.price {
  padding: 20px 0;
  font-weight: bold;
  font-size: 25px;
}

/* shopping cart page */
.cart {
  max-width: 650px;
  min-width: 650px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  height: 100vh;
}

.cart .price {
  text-align: right;
}

.cart .allitemscontainer {
}
.cart .imagecontainer {
  padding-bottom: 10px;
  width: 150px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart .itemcontainer {
  margin: 10px 0 20px 0;
  padding: 10px 0 10px 0;

  border-bottom: 1px solid grey;
  display: flex;
  justify-content: flex-start;
}

.cart .img {
}

.cart .nameandquant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart .quant {
  font-size: 20px;
  font-weight: bold;
}

.cart .removebutton {
  align-self: flex-start;
}
.cart input {
  width: 40px;
}
.cart .priceandsubtotal {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
}

.cart .itemprice {
}

.cart .name {
  font-size: 32px;
}

.cart .subtotal,
.total {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}

.total {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 36px;
}
.cartsummary {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.checkoutbutton {
  align-self: center;
  text-align: center;
  font-size: 30px;
  border: 5px solid #932d06;
  color: #932d06;
  border-radius: 6px;
  padding: 0.2em;
  margin: 40px 0;
}
.checkoutbutton:hover {
  border: 5px solid #621b00;
  color: #621b00;
}

/* checkoutpage */

.checkoutimg {
  width: 150px;
  margin-bottom: 20px;
}

.inlineblock {
  display: inline-block;
}

.checkoutSection {
  min-height: 100px;
  display: flex;
  align-items: flex-start;
}

.checkoutHeading {
}

/* footer */
.footer {
  position: fixed;
  bottom: 0;
  background-color: #fca311;
  width: 100%;
  height: 80px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
